@import url("https://cdn.tailwindcss.com");

*{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-soothing: grayscale;
}

.class-SocialMedia {
  position: fixed;
  top: calc(50vh - 130px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  left: 0;
  background: #1f2937d9;
  padding: 10px;
  border-radius: 0 10px 10px 0;
}

.class-SocialMedia a {
  width: 30px !important;
  height: 30px !important;
}

.class-Footer {
  background: #1f2937;
  color: #5f6e80;
  padding: 10px 50px;
  text-align: center;
}

.class-Comments > div:nth-child(2) {
  background: #2b384c;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50vh;
  z-index: 1;
  padding: 20px 50px;
}

.class-Comments > button {
  float: left;
  width: 70px;
  padding: 10px;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 50px;
  z-index: 2;
  background: #2b384c;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  font-size: 25px;
  color: #fff;
}

.class-Comments > button::before,
.class-Comments > button::after {
  content: "";
  position: absolute;

  height: 10px;
  width: 20px;

  bottom: 0;
}

.class-Comments > button::before {
  left: -20px;

  border-radius: 0 0 10px 0;
  -moz-border-radius: 0 0 10px 0;
  -webkit-border-radius: 0 0 10px 0;

  -webkit-box-shadow: 10px 0 0 0 #2b384c;
  box-shadow: 10px 0 0 0 #2b384c;
}

.class-Comments > button::after {
  right: -20px;

  border-radius: 0 0 0 10px;
  -moz-border-radius: 0 0 0 10px;
  -webkit-border-radius: 0 0 0 10px;

  -webkit-box-shadow: -10px 0 0 0 #2b384c;
  box-shadow: -10px 0 0 0 #2b384c;
}

.class-Comments > button:nth-last-child(2){
  bottom: 50vh;
}
